<div class="container">

<style>
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
</style>

<mat-toolbar [ngStyle]="{'background-color':'black'}" id="toolbar">  
    <mat-toolbar-row class="row1">
      <h1 class="title">Catalog Produse</h1>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="button-list">
        <button class="button-header" mat-button routerLink="/">Acasa</button>  
        <button class="button-header" mat-button routerLink="/catalog">Catalog</button>
        <button class="button-header" mat-button routerLink="/formular">Admin</button>
      </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>

<div class="footer" [ngStyle]="{'background-color':'black'}" id="toolbar">
  <div class="footer-row">
    <p class="footer-text" style="display:inline;">osiac.alexandru.cristian@gmail.com</p>
    <img class="mail-logo" style=" width:50px;height50px;display:inline;vertical-align: middle;"src="assets/mail.png">
  </div>
  <div class="footer-row">
    <p>
      <a href="https://github.com/OsiacAlexandru">
      <img class="github-logo" src="assets/github.png">
      </a>
    </p>
  </div>
</div>
  
</div>